.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #f5f5f5;
    width: 150px;
    padding: 20px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }

  .mat-toolbar {
    background-color: #eff3f8;
  }
  
  .mat-sidenav {
    background-color: rgb(29, 29, 29);
  }
  
  .mat-sidenav.mat-sidenav-open {
    background-color: #534e4e;
  }
  
  .mainpage-content {
    background-color: #eff3f8;
    height: 88vh;
  }

  .search-container {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-top: 20px;
    padding-right: 5rem;
  }
  
  
  .search-field {
    width: 250px;
    height: 70px;
  }
  
  
  .search-icon-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

  }
  

  .spacer {
    flex: 1;
    padding-right: 5rem;

  }

  .debit-card-comp{
    padding-left: 3rem;
    padding-top: 3rem;
  }
  