<!-- <div class="debit-card">
  <div class="card-details">
    <div class="balance">Balance: {{ balance }}</div>
    <div class="card-number">{{ cardNumber }}</div>
    <div class="expiration-date">Expires: {{ expirationDate }}</div>
  </div>
</div> -->

<div class="apollo-debit-card">
  <div class="card-header">
    <i class="pi pi-credit-card"></i>
  </div>
  <div class="card-content">
    <div class="card-number">**** **** **** 3456</div>
    <div class="card-details">
      <div class="balance-label">Balance:</div>
      <div class="balance-value">$1000.00</div>
      <div class="expiration-label">Exp:</div>
      <div class="expiration-value">12/24</div>
    </div>
  </div>
</div>
